body {
background-color:#FFFFFF;
font-size:76%;
text-align:left;
font-family: "Trebuchet MS", "Lucida Sans", Helvetica, Arial, sans-serif;
color:#000000;
}
h1, h2, h3, h4, h5 {
margin-bottom: 2px;
}
h2 {
margin-top: 0px;
}
h4 {
margin-top: 0.5em;
}
ul {
margin-top: 0px;
margin-left: 0px;
padding-left: 20px;
}
ul li {
padding-left: 0px;
margin-left: 0px;
}
.session {
border-style: solid;
border-color: #999999;
border-width: 1px;
margin-bottom: 1em;
padding: 1em;
}
.summary {
border-style: solid;
border-color: #000000;
border-width: 2px;
margin-bottom: 1em;
padding: 1em;
}
.message {
background: #EEEEEE;
font-size: small;
padding: 8px;
border-style: solid;
border-color: #999999;
border-width: 1px;                    
}
.log {
font-size: small;
background: #EFEFEF;
padding: 8px;
padding-top: 1px;
padding-bottom: 1px;                    
}